.bubble{
    width: 300px;
    height: 40px;
    text-align: center;
    background-color: pink;
    line-height: 40px;
    border-radius: 10px;
    position: absolute;
    bottom:340px;
    left: 0;
    transform: translateY(180px) scale(0.5);
    opacity: 0;
}

.movea{
    opacity: 1;
    transform: translateY(120px) scale(1);
    transition: transform 1s linear,opacity 1s linear;
}
.moveb{
    opacity: 1;
    transform: translateY(60px) scale(1);
    transition: transform 1s linear,opacity 1s linear;
}
.movec{
    opacity: 0;
    transform: translateY(0px) scale(0.5);
    transition: transform 1s linear,opacity 1s linear;
}


